.loading_style {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #57576d;
  font-weight: 500;
}

.graphic {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
