.file_list {
    list-style-type: none;
    padding: 1% 1% 1% 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.300em;
    color: #57576d;
    font-weight: 100;
    text-align: left;
    background-color: #f5f5f7;
    width: 60%;
}

.loading_style {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #57576d;
  font-weight: 500;
}

.table {
  display: flex;
  justify-content: center;
}

.table_margin {
  margin-top: 3%;
}

.file_list:hover {
    border: 1px solid;
}
