@import '../variables.css';


.line_text {
  font-size: 1em;
  font-weight: 200;
}

.line_text_p {
  margin-bottom: 0;
}

.logout {
  background-color: transparent;
  text-decoration: underline;
  color: #22313f;
  border-color: transparent;
  margin-bottom: 1%;
}
