@import '../variables.css';


.line_text {
  font-size: 1em;
  font-weight: 200;
}

.line_text_p {
  margin-bottom: 0;
}

.logout {
  background-color: transparent;
  color: #22313f;
  border-radius: 4px;
  border-color: transparent;
  margin: 1% 0;
  float: right;
  text-decoration: underline;
}
