/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #57576d;
$light: #eaebec;
$red:   #e15555;
$white: #ffffff;

/* BORDER PALETTE */
$light_gray: #e6e6e6;



/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
$bg_list: fog "../images/bg_fog",
          lake "../images/bg_lake",
          class "../images/bg_class";



/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;
