@import '../variables.css';

.loading_style {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #57576d;
  font-weight: 500;
}

.main_title {
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  color: #57576d;
  margin-bottom: 4%;
}
