

.flex { display: flex; }

.wrap { flex-wrap: wrap; }

.justify_center     { justify-content: center; }
.justify-around     { justify-content: space-around; }
.justify-between    { justify-content: space-between; }
.justify-start      { justify-content: flex-start; }

.al-center  { align-items: center; }

.self-center { align-self: center; }
.self-start  { align-self: flex-start; }

.dir-row    { flex-direction: row; }
.dir_column { flex-direction: column; }

.wd-5   { float: left; width: 5%; }
.wd-10  { float: left; width: 10%; }
.wd-15  { float: left; width: 15%; }
.wd-20  { float: left; width: 20%; }
.wd_30  { float: left; width: 30%; }
.wd-40  { float: left; width: 40%; }
.wd-50  { float: left; width: 50%; }
.wd-60  { float: left; width: 60%; }
.wd-65  { float: left; width: 65%; }
.wd-70  { float: left; width: 70%; }
.wd-80  { float: left; width: 80%; }
.wd-90  { float: left; width: 90%; }
.wd-100 { float: left; width:100%; }

.fs     { height: 100vh; }
.fs-55  { height: 55vh; }
.fs-75  { height: 75vh; }


.table {
  display: flex;
  text-align: center;
  font-family: helvetica;
  color: #3d3d75;
  font-weight: 200;
}

.lines {
float: left;
width: 25%;
text-align: left;
margin: 3% 3%;
}
