.table {
  display: flex;
  width: 100%;
  margin-top: 3%;
  flex-direction: row;
}

.lines {
text-align: left;
margin: 3% 3%;
font-family: 'Raleway', sans-serif;
font-size: 1em;
color: #57576d;
font-weight: 100;
}

.loading_style {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #57576d;
  font-weight: 500;
}

.graphic {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.center {
  display: flex;
  justify-content: center;
}

.style {
  text-decoration: underline;
}


@media (min-width : 768px) {
}

@media (min-width : 1224px) {

}

@media (min-width : 1824px) {
}
